/* body{
    margin: 0;
    padding: 0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
} */
 :root{
  --couleur: #F2AB01;
 }
.container{
    display: flex;
    width: 700px;
    height: 1000px;
    justify-content: center;
    margin: auto;
    /* border: 2px solid gray; */
    overflow: hidden;
    background-color: black;
}
.left{
    width: 40%;
    background-color: #333333;
}
.right{
    width: 60%;
    background-color: white;
}

.jaune {

  position: relative;
  width: 0;
  left: 0;
  height: 0;
  border-top: 193px solid var(--couleur);
  border-left: 41px solid var(--couleur);
  border-bottom: 31px solid transparent;
  border-right: 240px solid transparent;
    }
#profil{
  box-sizing: border-box;
  position: absolute;
  width: 145px;
  height: 145px;
  left: 24px;
  top: -164px;
  border: 3px solid #FFFFFF;
  border-radius: 100px 100px 100px 0px;
}
.lineg{
  
  height: 787px;
  width: 3px;
  background-color: #666666;
  position: relative;
  border-radius: 10px;
  left: 26px;
  justify-content: space-around;
  flex-direction: column;
  flex-direction: column;
  display: flex
;
  align-items: center;
}
  /* style contact bloc gauche */
  .contact {
    color: white;
    margin-left: 71px;
  }
  .point-group{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -13px;
  }

  .pointj {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 56px;
    background-color: var(--couleur);
    border-radius: 50%;
  }
  .pointj2 {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 116px;
    background-color: var(--couleur);
    border-radius: 50%;
  }
  .pointj21 {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 160px;
    background-color: var(--couleur);
    border-radius: 50%;
  }
 
  .pointj01 {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 394px;
    background-color: var(--couleur);
    border-radius: 50%;
  }

  .point-rec01 {
    position: absolute;
    height: 49px;
    width: 10px;
    top: 207px;
    background-color: var(--couleur);
    border-radius: 6px;
  }
  .pointj3 {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 56px;
    background-color: var(--couleur);
    border-radius: 50%;
  }
  .point-rec02 {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 56px;
    background-color: var(--couleur);
    border-radius: 50%;
  }
.TOUT{
  display: flex;
}

  .point-rec{
    position: absolute;
    height: 49px;
    top: 0;
    width: 10px;
    background-color: var(--couleur);
    border-radius: 6px;
  }

  .reference {
    color: white;
    margin-left: 71px;
  }
  .ouam{
    margin-top:-10px;
  }
  .point-group01{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -1px;
  }


  .education {
    color: white;
    margin-left: 71px;
  }

  /* style des point en groupe */
  .point-group02{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -17px;;
  }

  .pointj02 {
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: var(--couleur);
    border-radius: 50%;
    top: 294px;
  }

  .point-rec02{
    position: absolute;
    height: 49px;
    width: 10px;
    background-color: var(--couleur);
    border-radius: 6px;
    top: 478px;
  }
  .lined{
    border-left: 2px solid #666666;
    height: 1000px;
    position: absolute;
    margin-left: 34px;
    margin-top: 0px;
}
.desc{
    display: flex;
    width: 420px;
    height: 101px;
    background-color: #f0f0f0;
    margin-top: 66px;
}
#nom{
  margin-left: 64px;
}
.point-group1{
  position: relative;
  display: flex;
  align-items: center;
}
.point-rec1{
  position: absolute;
  height: 79px;
  width: 10px;
  background-color: var(--couleur);
  border-radius: 6px;
  margin-left: 29px;
}
.about {
  color: black;
  margin-left: 71px;
  margin-top: 61px;
}

.point-group2{
  position: relative;
  display: flex;
  align-items: center;
  /* margin-top: -17px; */
}
.point-rec2{
  position: absolute;
  height: 49px;
  width: 10px;
  background-color: var(--couleur);
  border-radius: 6px;
  margin-left: -41px;
  margin-top: -10%;
}
.experience {
  color: black;
  margin-left: 71px;
  margin-top: -13px;
}

.point-group3{
  position: relative;
  display: flex;
  align-items: center;
  /* margin-top: -17px; */
  margin-top: -18px;
}
.pointj1 {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--couleur);
  border-radius: 50%;
  left: -40px;
}
.pointj5 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: var(--couleur);
  border-radius: 50%;
  top: 541px;
}
.pointj6 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: var(--couleur);
  border-radius: 50%;
  top: 646px;
}
.point-rec3{
  position: absolute;
  height: 49px;
  width: 10px;
  background-color: var(--couleur);
  border-radius: 6px;
  margin-left: -41px;
  margin-top: -6%;
}
.competence {
  color: black;
  margin-left: 71px;
  margin-top: -18px;
  padding-right: 20px;
}

.point-group4{
  position: relative;
  display: flex;
  align-items: center;
  /* margin-top: -17px; */
}
.point-rec4{
  position: absolute;
  height: 49px;
  width: 10px;
  background-color: var(--couleur);
  border-radius: 6px;
  margin-left: -41px;
  margin-top: -13%;
}
.competence  .progress{
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  align-items: center;
  width: 100%;
}
.competence .progress h4{
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 11px;
}
.competence .progress .percent{
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.competence .progress .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--couleur);
  border-radius: 5px;
}

#cercle{
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 50%;
  margin-top: 0%;
  margin-left: -5%;
}
#img1{
  width: 17px;
  height: 17px;
  margin-left: 13%;
  margin-top: 7%;
}
#cont{
  margin-left: 15%;
  margin-top: -10%;
}
#appel{
  margin-left: 15%;
  margin-top: -10%;
}
#cercle1{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: -5%;
}
#img11{
  width: 13px;
  height: 13px;
  margin-left: 15%;
  margin-top: 19%;
}
#navigateur{
  margin-left: 13%;
  margin-top: -5%;
}
#cercle2{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: -5%;
}
#img111{
  width: 13px;
  height: 13px;
  margin-left: 16%;
  margin-top: 14%;
}
#gps{
  margin-left: 10%;
  margin-top: -5%;
}
#cercle3{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: -5%;
}
#img1111{
  width: 13px;
  height: 13px;
  margin-left: 19%;
  margin-top: 18%;
}
#cercle4{
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: -5%;
}
#img2{
  width: 17px;
  height: 17px;
  margin-left: 10%;
  margin-top: 1%;
}
#ref{
  margin-left: 15%;
  margin-top: -14%;
}
#cercle5{
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 50%;
  margin-top: 15%;
  margin-left: -5%;
}
#img21{
  width: 17px;
  height: 17px;
  margin-left: 17%;
  margin-top: 10%;
}
#edu{
  margin-left: 15%;
  margin-top: -5%;
}
.oran{
  margin-left: 1%;
}
#cercle6{
  width: 23px;
  height: 23px;
  background-color: var(--couleur);
  border-radius: 50%;
  margin-top: 5%;
}
#img3{
  width: 20px;
  height: 20px;
  margin-left: 10%;
  margin-top: 1%;
}
#cercle7{
  width: 23px;
  height: 23px;
  background-color: var(--couleur);
  border-radius: 50%;
  margin-top: 10%;
}
#img31{
  width: 14px;
  height: 14px;
  margin-left: 20%;
  margin-top: 17%;
}
#cercle8{
  width: 23px;
  height: 23px;
  background-color: var(--couleur);
  border-radius: 50%;
  margin-top: 13%;
}
#img311{
  width: 14px;
  height: 14px;
  margin-left: 20%;
  margin-top: 14%;
}
#exp{
  margin-left: 17%;
  margin-top: -14%;
}
#per{
  margin-left: 17%;
  margin-top: -3%;
}
#comp{
  margin-left: 17%;
  margin-top: -14%;

}
#tt{
  visibility: hidden;
}
#bod{
  background-color: #333333;
}
#dev{
  margin-top: 0%;
}
#met{
  margin-top: 0%;
}
#sys{
  margin-top: 0%;
}
#but{
  width: 19%;
  height: 4%;
  margin-left: 15%;
  margin-top: 8%;
}
#retour{
  margin-top: -13%;
}
#but1{
  width: 19%;
  height: 4%;
  margin-left: 15%;
  margin-top: 8%;
}
header nav{
  display: flex;
  margin: auto;
}

footer{
  position: fixed;
  width: 100%;
  height: 60px;
 
  bottom: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
}
footer ul{
  display: flex;
  list-style: none;
  width: 400px;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
  justify-content: space-around;
}